{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clue</title>

    <link rel="stylesheet" href="{% static 'game/clue.css' %}">
</head>

<body>

    <div class="clue-page">

        <div class="clue-card">

            <h1 id="playerName">Your Clue</h1>

            <p class="clue-text">
                Something related to the secret word goes here.
            </p>

            <button class="done-btn" id="nextBtn">
                Done
            </button>

        </div>

    </div>

</body>


<script>

const roomCode="{{code}}"
const myPlayerId = "{{ request.session.player_id }}";



console.log(roomCode) 
const socket = new WebSocket(
    "ws://" + window.location.host + "/ws/game/" + roomCode + "/"
);


socket.onmessage = (event) => {
    const data = JSON.parse(event.data);


    console.log("The data that come form reveal to clue phase is ");
    console.log(data)


    if (data.type === "current_player") {

        document.getElementById("playerName").textContent =
            data.nickname;
    }

 
    if (data.type === "clue_started") {

        document.getElementById("playerName").textContent =
            data.nickname;

        if (data.player_id === myPlayerId) {
            document.getElementById("nextBtn").disabled = false;
        } else {
            document.getElementById("nextBtn").disabled = true;
        }
    }


    if (data.type === "turn_changed") {

        document.getElementById("playerName").textContent =
            data.nickname;

        if (data.player_id === myPlayerId) {
            document.getElementById("nextBtn").disabled = false;
        } else {
            document.getElementById("nextBtn").disabled = true;
        }
    }


};

socket.onopen = () => {
    socket.send(JSON.stringify({
        type: "clue_connected"
    }));
};
  
document.getElementById("nextBtn").addEventListener("click", () => {

    console.log("WE HAVE ENTER DONE ");
    socket.send(JSON.stringify({
        type: "next_turn"
    }));
});


</script>
</html>